extends base

block stylesheets
    link(rel='stylesheet', href='/partials/navbar.css')
    link(rel='stylesheet', href='/user-profile-admin-booking.css')
    link(rel='stylesheet', href='/update-status.css')
    
    
block content
    header
    .profile-container
        #profile-picture
            img(src="./images/filler-icon.jpg", alt="Profile Picture")
        h1 Hi, 
            span=user.firstName 
        p What would you like to get started on today?


        
    .registered-cars 
        h2 Service Bookings
        hr
        //- Display first the services one time and then after that the subscriptions
        each serviceBooking of serviceBookings 
            .car 
                img(src=`/images/vehicleClassification/${serviceBooking.classification}.jpeg`,alt=`Image for ${serviceBooking.classification}.jpeg`)
                .car-status
                    .car-info 
                        
                        p.car-text
                            
                            if serviceBooking.scheduledDate
                                - const dateString = `${serviceBooking.scheduledDate.toISOString()}`;
                                - const formattedDate = dateString.slice(0, 10) + ' ' + dateString.slice(11, 16);
                                Strong=`Booking Date: `
                                span=`${formattedDate}`
                            else 
                                Strong=`Booking Date: `
                                span='Not Available'

                        p.car-text
                            Strong=`Plate Number: `
                            |#{serviceBooking.plateNumber}
                        p.car-text
                            Strong=`Status: `
                            span(id=`displayBookingStatus${serviceBooking._id}`,class='status current' onclick=(`showUpdateServicePopup('${serviceBooking._id}','${serviceBooking.plateNumber}')`))=serviceBooking.status
                        
                        button.more-info-btn(onclick=`showMoreInformation('${serviceBooking._id}', '${serviceBooking.owner}', '${serviceBooking.stripeReferenceNumber}', '${serviceBooking.product}')`)  More Information
        
        
        h2 Service Bookings Subscribed Users 
        hr
        each subscriptionBooking of subscriptionBookings
            .car 
                img(src=`/images/vehicleClassification/${subscriptionBooking.classification}.jpeg`,alt=`Image for ${subscriptionBooking.classification}.jpeg`)
                .car-status
                    .car-info 
                        p.car-text
                            
                            if subscriptionBooking.scheduledDate
                                - const dateStringSubscription = `${subscriptionBooking.scheduledDate.toISOString()}`;
                                - const formattedDateSubscription = dateStringSubscription.slice(0, 10) + ' ' + dateStringSubscription.slice(11, 16);
                                Strong=`Booking Date: `
                                span=`${formattedDateSubscription}`
                            else 
                                Strong=`Booking Date: `
                                span='Not Available'
                        p.car-text
                            Strong=`Plate Number: `
                            |#{subscriptionBooking.plateNumber}
                        p.car-text
                            Strong=`Status: `
                            span(id=`displayBookingStatus${subscriptionBooking._id}`,class='status current' onclick=(`showUpdateServicePopupSubscription('${subscriptionBooking._id}','${subscriptionBooking.plateNumber}', '${subscriptionBooking.chosenService}')`))=subscriptionBooking.status

                        button.more-info-btn(onclick=`showMoreInformationSubscription('${subscriptionBooking._id}', '${subscriptionBooking.owner}', '${subscriptionBooking.stripeReferenceNumber}', '${subscriptionBooking.product}', '${subscriptionBooking.chosenService}')`)  More Information






    #showMoreInfoPopup.popupContainer
        .popupContent
            span.closePopup(onclick=`closeMoreInfoPopup()`) &times;
            .info-item
                label(for="wash-type")=`Wash Type: `
                span#wash-type Hyper Wash
            .info-item
                label(for="first-name")=`Owner First Name: `
                span#first-name John
            .info-item
                label(for="last-name")=`Owner Last Name: `
                span#last-name Doe
            .info-item
                label(for="user-email")=`Owner Email: `
                span#user-email Doe@gmail.com
            .info-item
                label(for="booking-reference-number")=`Payment Reference Number: `
                span#booking-reference-number pi_12312352


    #status-form.status-form
        form#status-change-form
            span.closePopup(onclick=`closeStatusForm()`) &times;
            input(type='hidden', id='statusFormHiddenId')
            input(type='hidden', id='statusFormHiddenOwnerId')
            label(for="status-select") Select Status:
            select#status-select(onchange="checkStatusChange()")
                option(value="Waiting for vehicle" selected) Waiting for vehicle
                option(value="Vehicle received") Vehicle received
                option(value="Vehicle in queue" ) Vehicle in queue
                option(value="Work in progress" ) Work in progress 
                option(value="Drying" ) Drying 
                option(value="Turnovered" ) Turnovered 
            button(type='submit', id='changeButton' disabled) Change

    //- for subscription
    #showMoreInfoPopupSubscription.popupContainer
        .popupContent
            span.closePopup(onclick=`closeMoreInfoPopupSubscription()`) &times;
            
            .info-item
                label(for="wash-type-subscription")=`Booking Id: `
                span#subscription-bookingId Hyper Wash
            .info-item
                label(for="wash-type-subscription")=`Subscription Name: `
                span#subscription-name Hyper Wash
            .info-item
                label(for="wash-type-subscription")=`Wash Type: `
                span#wash-type-subscription Hyper Wash
            .info-item
                label(for="first-name-subscription")=`Owner First Name: `
                span#first-name-subscription John
            .info-item
                label(for="last-name-subscription")=`Owner Last Name: `
                span#last-name-subscription Doe
            .info-item
                label(for="user-email-subscription")=`Owner Email: `
                span#user-email-subscription Doe@gmail.com
            .info-item
                label(for="booking-reference-number-subscription")=`Payment Reference Number: `
                span#booking-reference-number-subscription pi_12312352


    #status-form-subscription.status-form
        form#status-change-form-subscription
            span.closePopup(onclick=`closeStatusFormSubscription()`) &times;
            input(type='hidden', id='statusFormHiddenIdSubscription')
            input(type='hidden', id='statusFormHiddenOwnerIdSubscription')
            input(type='hidden', id='statusFormHiddenChosenService')
            label(for="status-select-subscription") Select Status:
            select#status-select-subscription(onchange="checkStatusChangeSubscription()")
                option(value="Waiting for vehicle" selected) Waiting for vehicle
                option(value="Vehicle received") Vehicle received
                option(value="Vehicle in queue" ) Vehicle in queue
                option(value="Work in progress" ) Work in progress 
                option(value="Drying" ) Drying 
                option(value="Turnovered" ) Turnovered 
            button(type='submit', id='changeButtonSubscription' disabled) Change
                
                     


block scripts
    script(src='/js/adminDashboard.js')
    
    
    






