<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="../images/logo-red.png">

    <title>AutoworxPro | Admin Dashboard</title>
    <link rel="stylesheet" href="user-profile-admin-booking.css">
    <link rel="stylesheet" href="update-status.css">
    <link rel="stylesheet" href = "partials/navbar.css">
</head>

<body>

    {{> _header }}

    <div id="overlay"></div>

    <header>
        <!--add photo here-->
    </header>

    <div class="profile-container">
        <div id="profile-picture">
            <img src="./images/filler-icon.jpg" alt="Profile Picture">
        </div>

        <h1>Hi, <span>{{user.firstName}}</span></h1>
        <p>What would you like to get started on today?</p>
    </div>

    <div class="registered-cars">
        <h2>Service Bookings</h2>
        <hr>
        <!-- Display service bookings -->
        {{#each serviceBookings}}
            <div class="car">
                <img src="/images/vehicleClassification/{{this.classification}}.jpeg" alt="Image for {{this.classification}}.jpeg">
                <div class="car-status">
                    <div class="car-info">
                        <p class="car-text">
                            {{#if this.scheduledDate}}
                                {{!-- Format the date --}}
                                <strong>Booking Date: </strong>
                                <span>{{this.scheduledDate}}</span>
                            {{else}}
                                <strong>Booking Date: </strong>
                                <span>Not Available</span>
                            {{/if}}
                        </p>
                        <p class="car-text">
                            <strong>Plate Number: </strong>
                            {{this.plateNumber}}
                        </p>
                        <p class="car-text">
                            <strong>Status: </strong>
                            <span id="displayBookingStatus{{this._id}}" class="status current" onclick="showUpdateServicePopup('{{this._id}}','{{this.plateNumber}}')">{{this.status}}</span>
                        </p>
                        <button class="more-info-btn" onclick="showMoreInformation('{{this._id}}', '{{this.owner}}', '{{this.stripeReferenceNumber}}', '{{this.product}}')">More Information</button>
                    </div>
                </div>
            </div>
        {{/each}}

        <h2>Service Bookings Subscribed Users</h2>
        <hr>
        <!-- Display subscription bookings -->
        {{#each subscriptionBookings}}
            <div class="car">
                <img src="/images/vehicleClassification/{{this.classification}}.jpeg" alt="Image for {{this.classification}}.jpeg">
                <div class="car-status">
                    <div class="car-info">
                        <p class="car-text">
                            {{#if this.scheduledDate}}
                                {{!-- Format the date --}}
                                <strong>Booking Date: </strong>
                                <span>{{this.scheduledDate}}</span>
                            {{else}}
                                <strong>Booking Date: </strong>
                                <span>Not Available</span>
                            {{/if}}
                        </p>
                        <p class="car-text">
                            <strong>Plate Number: </strong>
                            {{this.plateNumber}}
                        </p>
                        <p class="car-text">
                            <strong>Status: </strong>
                            <span id="displayBookingStatus{{this._id}}" class="status current" onclick="showUpdateServicePopupSubscription('{{this._id}}','{{this.plateNumber}}', '{{this.chosenService}}')">{{this.status}}</span>
                        </p>
                        <button class="more-info-btn" onclick="showMoreInformationSubscription('{{this._id}}', '{{this.owner}}', '{{this.stripeReferenceNumber}}', '{{this.product}}', '{{this.chosenService}}')">More Information</button>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>

    <!-- Popups and Forms -->
    <div id="showMoreInfoPopup" class="popupContainer">
        <div class="popupContent">
            <span class="closePopup" onclick="closeMoreInfoPopup()">&times;</span>
            <div class="info-item">
                <label for="wash-type">Wash Type: </label>
                <span id="wash-type">Hyper Wash</span>
            </div>
            <div class="info-item">
                <label for="first-name">Owner First Name: </label>
                <span id="first-name">John</span>
            </div>
            <div class="info-item">
                <label for="last-name">Owner Last Name: </label>
                <span id="last-name">Doe</span>
            </div>
            <div class="info-item">
                <label for="user-email">Owner Email: </label>
                <span id="user-email">Doe@gmail.com</span>
            </div>
            <div class="info-item">
                <label for="booking-reference-number">Payment Reference Number: </label>
                <span id="booking-reference-number">pi_12312352</span>
            </div>
        </div>
    </div>

    <div id="status-form" class="status-form">
        <form id="status-change-form">
            <span class="closePopup" onclick="closeStatusForm()">&times;</span>
            <input type="hidden" id="statusFormHiddenId">
            <input type="hidden" id="statusFormHiddenOwnerId">
            <label for="status-select">Select Status:</label>
            <select id="status-select" onchange="checkStatusChange()">
                <option value="Waiting for vehicle" selected>Waiting for vehicle</option>
                <option value="Vehicle received">Vehicle received</option>
                <option value="Vehicle in queue">Vehicle in queue</option>
                <option value="Work in progress">Work in progress</option>
                <option value="Drying">Drying</option>
                <option value="Turnovered">Turnovered</option>
            </select>
            <button type="submit" id="changeButton" disabled>Change</button>
        </form>
    </div>

    <div id="showMoreInfoPopupSubscription" class="popupContainer">
        <div class="popupContent">
            <span class="closePopup" onclick="closeMoreInfoPopupSubscription()">&times;</span>
            <div class="info-item">
                <label for="wash-type-subscription">Booking Id: </label>
                <span id="subscription-bookingId">Hyper Wash</span>
            </div>
            <div class="info-item">
                <label for="wash-type-subscription">Subscription Name: </label>
                <span id="subscription-name">Hyper Wash</span>
            </div>
            <div class="info-item">
                <label for="wash-type-subscription">Wash Type: </label>
                <span id="wash-type-subscription">Hyper Wash</span>
            </div>
            <div class="info-item">
                <label for="first-name-subscription">Owner First Name: </label>
                <span id="first-name-subscription">John</span>
            </div>
            <div class="info-item">
                <label for="last-name-subscription">Owner Last Name: </label>
                <span id="last-name-subscription">Doe</span>
            </div>
            <div class="info-item">
                <label for="user-email-subscription">Owner Email: </label>
                <span id="user-email-subscription">Doe@gmail.com</span>
            </div>
            <div class="info-item">
                <label for="booking-reference-number-subscription">Payment Reference Number: </label>
                <span id="booking-reference-number-subscription">pi_12312352</span>
            </div>
        </div>
    </div>

    <!-- Dropdown form for selecting status -->
    <div id="status-form-subscription" class="status-form" style="display: none;">
        <form id="status-change-form-subscription">
            <span class="closePopup" onclick="closeStatusFormSubscription()">&times;</span>
            <input type="hidden" id="statusFormHiddenIdSubscription">
            <input type="hidden" id="statusFormHiddenOwnerIdSubscription">
            <input type="hidden" id="statusFormHiddenChosenService">
            <label for="status-select-subscription">Select Status:</label>
            <select id="status-select-subscription" onchange="checkStatusChangeSubscription()">
                <option value="Waiting for vehicle" selected>Waiting for vehicle</option>
                <option value="Vehicle received">Vehicle received</option>
                <option value="Vehicle in queue">Vehicle in queue</option>
                <option value="Work in progress">Work in progress</option>
                <option value="Drying">Drying</option>
                <option value="Turnovered">Turnovered</option>
            </select>
            <button type="submit" id="changeButtonSubscription" disabled>Change</button>
        </form>
    </div>

    <!-- Error Popup -->
    <div id="errorPopup" class="miniPopupContainer" style="display: none;">
      <div class="popupContent">
        <span id="closePopupError" class="closePopup">&times;</span>
        <h3 style="color: azure;">There seems to be a problem</h3>
        <p id="errorText" style="color: azure;"></p>
      </div>
    </div>

    <!-- Success Popup -->
    <div id="successPopup" class="miniPopupContainer" style="display: none;">
      <div class="popupContent">
        <span id="closePopupSuccess" class="closePopup">&times;</span>
        <h3 style="color: azure;">Success</h3>
        <p id="successText" style="color: azure;"></p>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/adminDashboard.js"></script>
    <script src="/js/logout.js"></script>
    <script src="update-status.js"></script>
</body>
</html>