extends base


block stylesheets 
    link(rel='stylesheet' href='cart.css')
    link(rel='stylesheet' href='/partials/navbar.css')



block content

  
    #top-container 
        .top-container-labels 
            p Order 
        .top-container-labels 
            p Subtotal 
    if user 
        input(type='hidden', id='ownerCartId', value=user._id)
    #item-container
        each item in cartItems
            .item 
                .left-item 
                    label.checkmark-container
                        input(type='checkbox' checked='checked')
                        span.checkmark 
                    .image-container 
                     
                        img(src=`/images/services/${item.product}.jpeg` alt=`Image for ${item.product}`) 
                        .overlay 
                    
                    .item-details 
                        h1=item.product 
                        p=item.description 
                        input(type='text' value=`${item.plateNumber}` disabled)
                .right-item 
                    h1=`€${item.price}`
                    p.removeItem(data-id=item._id) Remove
    
    #checkout-button
        button#proceed-to-payment Proceed To Booking
          

                

block scripts
    if user && user.role === 'user'
        script(src="https://js.stripe.com/v3/")
        script(src='/js/carts.js')
    
