<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Cart</title>
    <link rel="stylesheet" href="cart.css">
    <link rel="stylesheet" href = "partials/navbar.css">

</head>

<body>

    {{> _header }}
    
    <div id="top-container">
        <div class="top-container-labels">
            <p>Order</p>
        </div>
        <div class="top-container-labels">
            <p>Subtotal</p>
        </div>
    </div>

    {{#if user}}
        <input type="hidden" id="ownerCartId" value="{{user._id}}">
    {{/if}}

    <div id="item-container">
        {{#each cartItems}}
            <div class="item">
                <div class="left-item">
                    <label class="checkmark-container">
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                    </label>
                    <div class="image-container">
                        <img src="/images/services/{{this.product}}.jpeg" alt="Image for {{this.product}}">
                        <div class="overlay"></div>
                    </div>
                    <div class="item-details">
                        <h1>{{this.product}}</h1>
                        <p>{{this.description}}</p>
                        <input type="text" value="{{this.plateNumber}}" disabled>
                    </div>
                </div>
                <div class="right-item">
                    <h1>€{{this.price}}</h1>
                    <p class="removeItem" data-id="{{this._id}}">Remove</p>
                </div>
            </div>
        {{/each}}
    </div>

    <div id="checkout-button">
        <button id="proceed-to-booking">Proceed to Booking</button>
    </div>

    <!-- Error Popup -->
    <div id="errorPopup" class="miniPopupContainer" style="display: none;">
      <div class="popupContent">
        <span id="closePopupError" class="closePopup">&times;</span>
        <h3 style="color: azure;">There seems to be a problem</h3>
        <p id="errorText" style="color: azure;"></p>
      </div>
    </div>

    <!-- Success Popup -->
    <div id="successPopup" class="miniPopupContainer" style="display: none;">
      <div class="popupContent">
        <span id="closePopupSuccess" class="closePopup">&times;</span>
        <h3 style="color: azure;">Success</h3>
        <p id="successText" style="color: azure;"></p>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/logout.js"></script>
    {{#if user}}
        {{#if (eq user.role "user")}}
            <script src="https://js.stripe.com/v3/"></script>
            <script src="/js/carts.js"></script>
        {{/if}}
    {{/if}}

</body>

</html>