<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>User Profile</title>
  <link rel="stylesheet" href="user-profile.css">
  <link rel="stylesheet" href = "partials/navbar.css">
</head>

<body>

  {{> _header }}

  <div id="overlay"></div>

  <header>
    <!--add photo here-->
  </header>

  <div class="profile-container">
    <div id="profile-picture">
      <img src="./images/filler-icon.jpg" alt="Profile Picture">
    </div>
    <h1>Hi, <span>{{user.firstName}}</span></h1>
    <p>What would you like to get started on today?</p>
  </div>

  <div class="registered-cars">
    <h2>Registered Cars</h2>
    <hr>
    {{#each vehicles}}
      <div class="car">
        <img src="/images/vehicleClassification/{{this.classification}}.jpeg" alt="Vehicle Classification Image">
        <div class="car-status">
            <div class="car-info">
              <p class="car-text">Status:</p>
              {{#if (eq this.status 'To Review')}}
              <p class="status" id="reviewBtn" style="cursor:pointer;">{{this.status}}</p> {{!-- data-service-name="{{this.}}" --}}
              {{else}}
              <p class="status">{{this.status}}</p>
              {{/if}}
            </div>
            <div class="car-info">
              <p class="car-text">Plate Number:</p>
              <p class="status">{{this.plateNumber}}</p>
            </div>
        </div>
      </div>
      <hr>
    {{/each}}
    <button id="add">
      <img id="addPhoto" src="/images/add.png">
    </button>
    <div id="addCarPopup" class="popupContainer">
      <div class="popupContent">
        <span id="closePopup" class="closePopup">&times;</span>
        <h1>Add a Car</h1>
          <form id="addCarForm">
            <label for="classType">Classification</label><br>
            <select id="classType" name="classType">
            <option value="" disabled selected>Select Class Type</option>
            {{#each vehicleClassifications}}
              <option value="{{this.name}}">{{this.name}}</option>
            {{/each}}
            </select><br>
            <label for="carBrand">Brand</label>
            <input type="text" id="carBrand" name="carBrand">
            <label for="plateNumber">Plate Number (3 Digits, 3 Letters, 4 Digits)</label>
            <input type="text" id="plateNumber" name="plateNumber">
            <input type="hidden" name="userId" value="{{user._id}}" id="userId">
            <p id="addcar-error-message" style="color: rgb(255, 72, 72) !important"></p>
            <button type="submit">Submit</button>
          </form>
        </div>
      </div>
  </div>

  <div id="active-services" class="active-subscriptions">
    <h2>Active Services</h2>
      <div class="subscriptions">
        {{#each serviceAvailed}}
          <img src="/images/services/{{this.product}}.jpeg" alt="Image for {{this.product}}" style="width: 592px; height: 316px; border-radius: 20px;" onclick="showPopupService('{{this.id}}')">
        {{/each}}
      </div>
  </div>

  <div id="servicePopup" class="tokenContainer">
    <span class="closePopup" onclick="closePopupService()">&times;</span>
      <h2 id="servicePopupRemainingTokens">Remaining Tokens</h2>
      <h2 id="servicePopupPlateNumber">Vehicle XXXX1234</h2>
      <hr>
      <div class="popupContent">
        <span class="bookingPopupPlateNumber">
          <strong>Price: 1 Token</strong>
        </span>
        <div class="contentWrapper Tokens">
          <div class="image-select">
            <input type="radio" checked="true">
            <img id="servicePopupImg" class="tokenPopupImage" src="/images/services/HYPER WASH.jpeg" alt="service1">
            <input id="serviceBookingId" type="hidden">
          </div>
        </div>
      </div>
    <hr>
    <button class="booking" onclick="showDateTimePopupService()">Proceed to Booking</button>
  </div>

  <div id="dateTimePopupService" class="tokenContainer">
    <span class="closePopup" onclick="closeDateTimePopupService()">&times;</span>
    <h2>Select Date and Time</h2>
    <div class="content">
      {{!-- Adjusting for UTC+8 (Philippine Time) --}}
      {{!-- You can replace this with proper handling using a helper or a script in the template --}}
      <input type="date" id="bookingDate" min="{{nowDate}}" value="{{nowDate}}">
      <input type="time" id="bookingTime" value="09:00" onchange="validateTime()">
    </div>
    <hr>
    <button class="dateTimeSubmit" onclick="submitDateTimeServiceBooking()">Submit</button>
  </div>

  <div id="active-subscriptions" class="active-subscriptions">
    <h2>Active Subscriptions</h2>
    <div class="subscriptions">
    {{#each subscriptionsAvailed}}
      <img src="/images/subscriptions/{{this.product}}.jpeg" alt="Image for {{this.product}}" style="width: 592px; height: 316px; border-radius: 20px;" onclick="showPopupSubscription('{{this._id}}')">
    {{/each}}
    </div>
  </div>

  <div id="subscriptionPopup" class="tokenContainer">
    <span class="closePopup" onclick="closePopupSubscription()">&times;</span>
    <h2 id="subscriptionPopupPlateNumber">Subscription For Vehicle XXXX1234</h2>
    <div id="generatedCodeHere"></div>
  </div>

  <div id="dateTimePopupSubscription" class="tokenContainer">
    <span class="closePopup" onclick="closeDateTimePopupSubscription()">&times;</span>
    <h2>Select Date and Time</h2>
    <div class="content">
      {{!-- Adjusting for UTC+8 (Philippine Time) --}}
      {{!-- You can replace this with proper handling using a helper or a script in the template --}}
      <input type="date" id="bookingDateSubscription" min="{{nowDateSubscription}}" value="{{nowDateSubscription}}">
      <input type="time" id="bookingTimeSubscription" value="09:00" onchange="validateTime()">
    </div>
    <hr>
    <button class="dateTimeSubmit" onclick="submitDateTimeSubscriptionBooking()">Submit</button>
  </div>
 
  <!-- Error Popup -->
  <div id="errorPopup" class="miniPopupContainer" style="display: none;">
    <div class="popupContent">
      <span id="closePopupError" class="closePopup">&times;</span>
      <h3 style="color: azure;">There seems to be a problem</h3>
      <p id="errorText" style="color: azure;"></p>
    </div>
  </div>

  <!-- Success Popup -->
  <div id="successPopup" class="miniPopupContainer" style="display: none;">
    <div class="popupContent">
      <span id="closePopupSuccess" class="closePopup">&times;</span>
      <h3 style="color: azure;">Success</h3>
      <p id="successText" style="color: azure;"></p>
    </div>
  </div>

  <div id="confirmPopup" class="miniPopupContainer" style="display: none;">
    <div class="popupContent">
      <span id="closePopupConfirm" class="closePopup">&times;</span>
      <h3 style="color: azure;">Action Required</h3>
      <p id="confirmText" style="color: azure;">Do you agree that the vehicle details are correct and owned by you. Do you still want to proceed to add this to your vehicle?</p>
      <button id="confirmButton">Yes</button>
      <button id="cancelButton">No</button>
    </div>
  </div>

  <!-- {{!-- Leave a Review Popup --}} -->
  <div id="reviewPopup" class="popupContainer">
      <div class="popupContent">
        <span id="closeReviewPopup" class="closePopup">&times;</span>
        <h1>Leave a Review</h1>
          <form id="reviewForm">
            <label for="rating">Rating</label>
            <div class="star-rating" id="starRating">
              <button class="star" data-rating="1">&#9733;</button>
              <button class="star" data-rating="2">&#9733;</button>
              <button class="star" data-rating="3">&#9733;</button>
              <button class="star" data-rating="4">&#9733;</button>
              <button class="star" data-rating="5">&#9733;</button>
            </div>
            <input type="hidden" name="rating" id="ratingInput" value="">
            <input type="hidden" name="serviceName" id="serviceName" value="">

            <label for="reviewText"></label>
            <input type="text" id="reviewText" name="reviewText" placeholder="Leave your review here..." maxlength="250">
            <p id="error-message" style="color: rgb(255, 72, 72) !important;display: flex;"></p>
            <button type="submit">Submit</button>
          </form>
        </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  {{!-- <script src="add-car.js"></script>
  <script src="view-token.js"></script> --}}
  <script src="/js/registerVehicle.js"></script>
  <script src="/js/availService.js"></script>
  <script src="/js/useSubscription.js"></script>
  <script src="/js/logout.js"></script>
  <script src="/js/reviewDashboard.js"></script>
</body>

</html>