<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>User Profile</title>
  <link rel="stylesheet" href="user-profile.css">
  <link rel="stylesheet" href = "partials/navbar.css">

</head>

<body>

  {{> _header }}

  <div id="overlay"></div>

  <header>
    <!--add photo here-->
  </header>

  <div class="profile-container">
    <div id="profile-picture">
      <img src="./images/filler-icon.jpg" alt="Profile Picture">
    </div>
    <h1>Hi, <span>{{user.firstName}}</span></h1>
    <p>What would you like to get started on today?</p>
  </div>

  <div class="registered-cars">
    <h2>Registered Cars</h2>
    <hr>
    {{#each vehicles}}
      <div class="car">
        <img src="/images/vehicleClassification/{{this.classification}}.jpeg" alt="Vehicle Classification Image">
        <div class="car-status">
            <div class="car-info">
              <p class="car-text">Status:</p>
              <p class="status">{{this.status}}</p>
            </div>
            <div class="car-info">
              <p class="car-text">Plate Number:</p>
              <p class="status">{{this.plateNumber}}</p>
            </div>
        </div>
      </div>
      <hr>
    {{/each}}
    <button id="add">
      <img id="addPhoto" src="/images/add.png">
    </button>
    <div id="addCarPopup" class="popupContainer">
      <div class="popupContent">
        <span id="closePopup" class="closePopup">&times;</span>
        <h1>Add a Car</h1>
          <form id="addCarForm">
            <label for="classType">Classification</label><br>
            <select id="classType" name="classType" required>
            <option value="" disabled selected>Select Class Type</option>
            {{#each vehicleClassifications}}
              <option value="{{this.name}}">{{this.name}}</option>
            {{/each}}
            </select><br>
            <label for="carBrand">Brand</label>
            <input type="text" id="carBrand" name="carBrand" required>
            <label for="plateNumber">Plate Number (3 Digits, 3 Letters, 4 Digits)</label>
            <input type="text" id="plateNumber" name="plateNumber" pattern="[0-9]{3}[A-Z]{3}[0-9]{4}" title="Plate number must be in the format 3Digits3Letters4Digits" required>
            <input type="hidden" name="userId" value="{{user._id}}" id="userId">
            <button type="submit">Submit</button>
          </form>
        </div>
      </div>
      <div id="successPopup" class="popupContainer">
        <div class="popupContent">
          <span id="closeSuccessPopup" class="closePopup">&times;</span>
          <h1>Completed</h1>
          <p>Your car has been added successfully</p>
          <button type="submit" id="closeBtn">Done</button>
        </div>
      </div>
  </div>

  <div id="active-services" class="active-subscriptions">
    <h2>Active Services</h2>
      <div class="subscriptions">
        {{#each serviceAvailed}}
          <img src="/images/services/{{this.product}}.jpeg" alt="Image for {{this.product}}" style="width: 592px; height: 316px; border-radius: 20px;" onclick="showPopupService('{{this.id}}')">
        {{/each}}
      </div>
  </div>

  <div id="servicePopup" class="tokenContainer">
    <span class="closePopup" onclick="closePopupService()">&times;</span>
      <h2 id="servicePopupRemainingTokens">Remaining Tokens</h2>
      <h2 id="servicePopupPlateNumber">Vehicle XXXX1234</h2>
      <hr>
      <div class="popupContent">
        <span class="bookingPopupPlateNumber">
          <strong>Price: 1 Token</strong>
        </span>
        <div class="contentWrapper Tokens">
          <div class="image-select">
            <input type="radio" checked="true">
            <img id="servicePopupImg" class="tokenPopupImage" src="/images/services/HYPER WASH.jpeg" alt="service1">
            <input id="serviceBookingId" type="hidden">
          </div>
        </div>
      </div>
    <hr>
    <button class="booking" onclick="showDateTimePopupService()">Proceed to Booking</button>
  </div>

  <div id="dateTimePopupService" class="tokenContainer">
    <span class="closePopup" onclick="closeDateTimePopupService()">&times;</span>
    <h2>Select Date and Time</h2>
    <div class="content">
      {{!-- Adjusting for UTC+8 (Philippine Time) --}}
      {{!-- You can replace this with proper handling using a helper or a script in the template --}}
      <input type="date" id="bookingDate" min="{{nowDate}}" value="{{nowDate}}">
      <input type="time" id="bookingTime" value="09:00" onchange="validateTime()">
    </div>
    <hr>
    <button class="dateTimeSubmit" onclick="submitDateTimeServiceBooking()">Submit</button>
  </div>

  <div id="active-subscriptions" class="active-subscriptions">
    <h2>Active Subscriptions</h2>
    <div class="subscriptions">
    {{#each subscriptionsAvailed}}
      <img src="/images/subscriptions/{{this.product}}.jpeg" alt="Image for {{this.product}}" style="width: 592px; height: 316px; border-radius: 20px;" onclick="showPopupSubscription('{{this._id}}')">
    {{/each}}
    </div>
  </div>

  <div id="subscriptionPopup" class="tokenContainer">
    <span class="closePopup" onclick="closePopupSubscription()">&times;</span>
    <h2 id="subscriptionPopupPlateNumber">Subscription For Vehicle XXXX1234</h2>
    <div id="generatedCodeHere"></div>
  </div>

  <div id="dateTimePopupSubscription" class="tokenContainer">
    <span class="closePopup" onclick="closeDateTimePopupSubscription()">&times;</span>
    <h2>Select Date and Time</h2>
    <div class="content">
      {{!-- Adjusting for UTC+8 (Philippine Time) --}}
      {{!-- You can replace this with proper handling using a helper or a script in the template --}}
      <input type="date" id="bookingDateSubscription" min="{{nowDateSubscription}}" value="{{nowDateSubscription}}">
      <input type="time" id="bookingTimeSubscription" value="09:00" onchange="validateTime()">
    </div>
    <hr>
    <button class="dateTimeSubmit" onclick="submitDateTimeSubscriptionBooking()">Submit</button>
  </div>
 
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  {{!-- <script src="add-car.js"></script>
  <script src="view-token.js"></script> --}}
  <script src="/js/registerVehicle.js"></script>
  <script src="/js/availService.js"></script>
  <script src="/js/useSubscription.js"></script>
  <script src="/js/logout.js"></script>
</body>

</html>