extends base

block stylesheets 
    link(rel='stylesheet', href='/partials/navbar.css')
    link(rel='stylesheet', href='/featured.css')
    link(rel='stylesheet', href='/book-appointment.css')
    link(rel='stylesheet', href='/cart.css')

block content

    #overlay

    header Featured Services

    .top-container
        each service, i  in services
            .top-item
                img(src=`/images/services/${service.photo}` alt=`Image of ${service.name}`)
                p= `0${i+1} ${service.name}`
        if user && user.role === 'admin'
            .top-item-add
                button#add
                    img(src='/images/add-new-service.png')
    //- popuphere
    #addServicePopup.popupContainer 
        .popupContent 
            span#closePopup.closePopup &times;
            h1 Add a Service 
            
            form#form
                
                label(for='name') Service Name 
                input(type='text', id='name' name='name' required)

                label(for='description') Service Description 
                input(type='text', id='description' name='description' required)
                
                label(for='duration') Service Duration in Minutes  
                input(type='number', id='duration' name='duration' required)

                label(for='photo')
                input(type='file', id='photo', name='photo', accept='image/*')

                fieldset
                    legend Select Vehicle Classification and Input Price
                    each vehicleClass in vehicleClassification 
                        label
                            input(type='checkbox', name='selectedItems', value=`${vehicleClass.name}`)
                            =vehicleClass.name 
                            input(type='number', name=`price`, min='1', value='1', step='0.01')

                button(type='submit') Submit

    //- Popup for edit
    #editServicePopup.popupContainer 
        .popupContent 
            span#closePopupEdit.closePopup &times;
            h1 Edit a Service 
            
            form#formEdit
                
                label(for='nameEdit') Service Name 
                input(type='text', id='nameEdit' name='nameEdit' required)

                label(for='descriptionEdit') Service Description 
                input(type='text', id='descriptionEdit' name='descriptionEdit' required)
                
                label(for='durationEdit') Service Duration in Minutes  
                input(type='number', id='durationEdit' name='durationEdit' required)

                label(for='photoEdit')
                input(type='file', id='photoEdit', name='photoEdit', accept='image/*')

                fieldset
                    legend Select Vehicle Classification and Input Price
                    each vehicleClass in vehicleClassification 
                        label
                            input(type='checkbox', name='selectedItemsEdit', value=`${vehicleClass.name}`, id=vehicleClass.name)
                            =vehicleClass.name 
                            input(type='number', name=`priceEdit`, min='1', value='1', id=vehicleClass.name, step='0.01')

                button(type='submit') Submit
                input(type='serviceId', name='serviceId', id='serviceId', hidden='true')



    .bottom-container 
        each service in services
            .bottom-item
                img(src=`/images/services/${service.photo}` alt=`Image of ${service.name}`)
                .bottom-item-content 
                    h2=service.name
                    p=service.description


                    if user && user.role === 'admin'
                        .buttons-container 
                            button#serviceEditBtn.edit-btn(type='button', data-id=service._id) Edit 
                            button#serviceDeleteBtn.delete-btn(type='button', data-id=service._id) Delete
                    else if user && user.role ==='user'
                        .buttons-container 
                            button#serviceAddToCart.edit-btn(type='button', data-id=service._id, data-owner=user._id) Add To Cart 
                    else
                        .buttons-container 
                            button#serviceAddToCartNoUser.edit-btn(type='button', onclick='showErrorNotLoggedIn()') Add to Cart


    //- booking popup
    if (user && user.role === 'user')
        #bookingPopup.popupContainer

            form#addToCart
                span#closePopupBooking.closePopup &times;
                h2 Registered Vehicles
                hr#generatePopup

                
               
                   
            
                button(type='submit') Add to Cart
                

        

        


                        
block scripts 
    if user && user.role === 'admin'
        script(src='/js/addService.js')
    else if user && user.role ==='user'
        script(src='/js/addToCart.js')
    else
        script(src='/js/errorNotLoggedIn.js')
    