<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Featured Services</title>
    <link rel="stylesheet" href="/partials/navbar.css">
    <link rel="stylesheet" href="/featured.css">
    <link rel="stylesheet" href="/book-appointment.css">
    <link rel="stylesheet" href="/cart.css">
  </head>

  <body>
    {{> _header }}

    <div id="overlay"></div>

    <header>Featured Services</header>

    <div class="top-container">
      {{#each services}}
        <div class="top-item">
          <img src="/images/services/{{this.photo}}" alt="Image of {{this.name}}">
          <p>{{@index}} {{this.name}}</p>
        </div>
      {{/each}}

      {{#if (eq user.role 'admin')}}
        <div class="top-item-add">
          <button id="add">
            <img src="/images/add-new-service.png">
          </button>
        </div>
      {{/if}}
    </div>

    <div class="bottom-container">
      {{#each services}}
        <div class="bottom-item">
          <img src="/images/services/{{this.photo}}" alt="Image of {{this.name}}">
          <div class="bottom-item-content">
            <h2>{{this.name}}</h2>
            <p>{{this.description}}</p>

            {{#if ../user}}
              {{#if (eq ../user.role 'admin')}}
                <div class="buttons-container">
                  <button id="serviceEditBtn" class="edit-btn" type="button" data-id="{{this._id}}">Edit</button>
                  <button id="serviceDeleteBtn" class="delete-btn" type="button" data-id="{{this._id}}">Delete</button>
                </div>
              {{else}}
                <div class="buttons-container">
                  <button id="serviceAddToCart" class="edit-btn" type="button" data-id="{{this._id}}" data-owner="{{user._id}}">Add To Cart</button>
                </div>
              {{/if}}
            {{else}}
            <div class="buttons-container">
              <button id="serviceAddToCartNoUser" class="edit-btn" type="button" onclick="showErrorNotLoggedIn()">Add to Cart</button>
            </div>
            {{/if}}
          </div>
        </div>
      {{/each}}
    </div>

    <!-- Error Popup -->
    <div id="errorPopup" class="miniPopupContainer" style="display: none;">
      <div class="popupContent">
        <span id="closePopupError" class="closePopup">&times;</span>
        <h3 style="color: azure;">There seems to be a problem</h3>
        <p id="errorText" style="color: azure;"></p>
      </div>
    </div>

    <!-- Success Popup -->
    <div id="successPopup" class="miniPopupContainer" style="display: none;">
      <div class="popupContent">
        <h3 style="color: azure;">Success</h3>
        <p id="successText" style="color: azure;"></p>
      </div>
    </div>

    <!-- Add Service Popup -->
      <div id="addServicePopup" class="popupContainer">
        <div class="popupContent">
          <span id="closePopup" class="closePopup">&times;</span>
          <h1>Add a Service</h1>

          <form id="form">
            <label for="name">Service Name</label>
            <input type="text" id="name" name="name" required>

            <label for="description">Service Description</label>
            <input type="text" id="description" name="description" required>

            <label for="duration">Service Duration in Minutes</label>
            <input type="number" id="duration" name="duration" required min="1">

            <label for="photo">Upload Image</label>
            <input type="file" id="photo" name="photo" accept="image/*">

            <fieldset>
              <legend>Select Vehicle Classification and Input Price</legend>
              {{#each vehicleClassification}}
                <label>
                  <input type="checkbox" name="selectedItems" value="{{this.name}}">
                  {{this.name}}
                  <input type="number" name="price" min="1" value="1" step="0.01">
                </label>
              {{/each}}
            </fieldset>

            <p id="error-message" style="color: rgb(255, 72, 72) !important;"></p>
            <button type="submit">Submit</button>
          </form>
        </div>
      </div>

      <!-- Edit Service Popup -->
      <div id="editServicePopup" class="popupContainer">
        <div class="popupContent">
          <span id="closePopupEdit" class="closePopup">&times;</span>
          <h1>Edit a Service</h1>

          <form id="formEdit">
            <label for="nameEdit">Service Name</label>
            <input type="text" id="nameEdit" name="nameEdit">

            <label for="descriptionEdit">Service Description</label>
            <input type="text" id="descriptionEdit" name="descriptionEdit">

            <label for="durationEdit">Service Duration in Minutes</label>
            <input type="number" id="durationEdit" name="durationEdit" >

            <label for="photoEdit">Upload Image</label>
            <input type="file" id="photoEdit" name="photoEdit" accept="image/*">

            <fieldset>
              <legend>Select Vehicle Classification and Input Price</legend>
              {{#each vehicleClassification}}
                <label>
                  <input type="checkbox" name="selectedItemsEdit" value="{{this.name}}" id="{{this.name}}">
                  {{this.name}}
                  <input type="number" name="priceEdit" min="1" value="1" step="0.01" id="{{this.name}}">
                </label>
              {{/each}}
            </fieldset>
            
            <p id="error-message" style="color: rgb(255, 72, 72) !important;"></p>

            <button type="submit">Submit</button>
            <input type="hidden" id="serviceId" name="serviceId">
          </form>
        </div>
      </div>

    <!-- Booking Popup -->
    {{#if (eq user.role 'user')}}
      <div id="bookingPopup" class="popupContainer">
        <form id="addToCart">
          <span id="closePopupBooking" class="closePopup">&times;</span>
          <h2>Registered Vehicles</h2>
          <hr id="generatePopup">

          <button type="submit">Add to Cart</button>
        </form>
      </div>
    {{/if}}

    {{#if user}}
      {{#if (eq user.role 'admin')}}
          <script src="/js/addService.js"></script>
      {{else}}
          <script src="/js/addToCart.js"></script>
      {{/if}}
    {{else}}
        <script src="/js/errorNotLoggedIn.js"></script>
    {{/if}}
    {{!-- <script src="/js/registerVehicle.js"></script> --}} <!-- Commented out by bend -->
    <script src="/js/availService.js"></script>
    <script src="/js/useSubscription.js"></script>
    <script src="/js/logout.js"></script>
  </body>
</html>
