extends base

block stylesheets 
    link(rel='stylesheet', href='/partials/navbar.css')
    link(rel='stylesheet', href='/featured.css')
    link(rel='stylesheet', href='/book-appointment.css')
    link(rel='stylesheet', href='/cart.css')

block content
    #overlay

    header Subscriptions


    .top-container
        each subscription in subscriptions
            .top-item 
                img(src=`/images/subscriptions/${subscription.photo}` alt=`Image of ${subscription.name}`)
                p=`${subscription.name}`

        if user && user.role=== 'admin'
            .top-item-add
                button#add
                    img(src='/images/add-new-sub.png')

        //- popuphere
    #addSubPopup.popupContainer 
        .popupContent 
            span#closePopup.closePopup &times;
            h1 Add a Subscription 


            form#form

                label(for='name') Subscription Name 
                input(type='text', id='name' name='name' required)

                label(for='photo')
                input(type='file', id='photo', name='photo', accept='image/*')

                fieldset
                    legend Select Services and Input  the Tokens
                    each service in services 
                        label
                            input(type='checkbox', name='selectedItems', value=`${service.name}`)
                            =service.name

                            //- input(type='number', name=`price`, min='1', value='1', id='price')

                            input(type='number', name=`token`, min='1', value='1' id='token')
                fieldset 
                    legend Select the Vehicle Classification and the Price
                    each vehicleClassification in vehicleClassifications
                        label
                            input(type='checkbox', name='selectedItemsVehicleClass', value=`${vehicleClassification.name}`)
                            =vehicleClassification.name 
                            input(type='number', name=`price`, min='1', value='1', id='price', step='0.01')

                button(type='submit') Submit

        //- edit subscription popup
    #editSubPopup.popupContainer 
        .popupContent 
            span#closePopupEdit.closePopup &times;
            h1 Edit a Subscription 


            form#formEdit

                label(for='nameEdit') Subscription Name 
                input(type='text', id='nameEdit' name='nameEdit' required)

                label(for='photo')
                input(type='file', id='photoEdit', name='photoEdit', accept='image/*')

                fieldset
                    legend Select Services, Input  the Price and the Tokens
                    each service in services 
                        label
                            input(type='checkbox', name='selectedItemsEdit', value=`${service.name}`, id=service.name)
                            =service.name
                                
                            //- input(type='number', name=`priceEdit`, min='1', value='1', id=service.name)

                            input(type='number', name=`tokenEdit`, min='1', value='1' id=service.name)
                fieldset 
                    legend Select the Vehicle Classification and the Price
                    each vehicleClassification in vehicleClassifications
                        label
                            input(type='checkbox', name='selectedItemsEditVehicleClass', value=`${vehicleClassification.name}`, id=vehicleClassification.name)
                            =vehicleClassification.name 
                            input(type='number', name=`priceEdit`, min='1', value='1', step='0.01', id=vehicleClassification.name)

                button(type='submit') Submit
                input(type='subscriptionId', name='subscriptionId', id='subscriptionId', hidden='true')


    .bottom-container 
        each subscription in subscriptions 
            .bottom-item
                img(src=`/images/subscriptions/${subscription.photo}` alt=`Image for ${subscription.name}`)
                .bottom-item-content 
                    h2=subscription.name
                    h3=subscription.description

                    if user && user.role=== 'admin'
                        .buttons-container 
                            button#subscriptionEditBtn.edit-btn(type='button', data-id=subscription._id) Edit 
                            button#subscriptionDeleteBtn.delete-btn(type='button', data-id=subscription._id) Delete
                    else if user && user.role === 'user' 
                        .buttons-container 
                            button#subscriptionGoToPayment.edit-btn(type='button', onclick=`showSubscriptionPopup('${subscription._id}', '${user._id}', '${subscription.name}','${subscription.description}')`) Purchase
                    else
                        .buttons-container 
                            button#subscriptionAddToCartNoUser.edit-btn(type='button', onclick='showErrorNotLoggedIn()') Purchase 

    #bookingPopup.popupContainer

        form#availSubscriptionForm
            span.closePopup(onclick="closePopupSubscriptionSelectVehicle()") &times;
            h2 Registered Vehicles
            hr#generateVehicleSubscriptions
            
block scripts 
    if user && user.role === 'admin'
        script(src='/js/addSubscription.js')
    else if user && user.role ==='user'
        script(src="https://js.stripe.com/v3/")
        script(src='/js/availSubscription.js')
    else
        script(src='/js/errorNotLoggedIn.js')
    
