<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle Classifications</title>
    <link rel="stylesheet" href="/partials/navbar.css">
    <link rel="stylesheet" href="/user-profile.css">
    <link rel="stylesheet" href="/featured.css">
</head>
<body>
    {{> _header }}

    <div id="overlay"></div>

    <header>Vehicle Classifications</header>

    <div class="registered-cars">
        {{#each vehicleClassification}}
            <hr>
            <div class="car" classification = {{this.name}}>
                <img src="/images/vehicleClassification/{{this.photo}}">
                <div class="car-status">
                    <div class="car-info">
                        <p class="car-text">{{this.name}}</p>
                    </div>
                    <button class="vehicleClassificationEditBtn edit-btn" type="button" data-id="{{this._id}}">Edit</button>
                    <button class="vehicleClassificationDeleteBtn delete-btn" type="button" data-id="{{this._id}}">Delete</button>
                </div>
            </div>
        {{/each}}

        <hr>
        <button id="add">
            <img id="id" src="/images/add.png">
        </button>

        <div id="addCarPopup" class="popupContainer">
            <div class="popupContent">
                <span id="closePopup" class="closePopup">&times;</span>
                <h1 id="title">Add a Vehicle Classification</h1>

                <form id="addCarForm">
                    <label for="vehicleClassification">Vehicle Classification</label>
                    <input type="text" id="vehicleClassification" name="vehicleClassification">
                    <label for="photo">Upload Image</label>
                    <input type="file" id="photo" name="photo" accept="image/*">
                    <p id="error-message" style="color: rgb(255, 72, 72) !important;"></p>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>

        <div id="editCarPopup" class="popupContainer">
            <div class="popupContent">
                <span id="closePopupEdit" class="closePopup">&times;</span>
                <h1>Edit A Vehicle Classification</h1>

                <form id="editCarForm">
                    <label for="vehicleClassificationEdit">Vehicle Classification</label>
                    <input type="text" id="vehicleClassificationEdit" name="vehicleClassificationEdit">
                    <label for="photoEdit">Upload Image</label>
                    <input type="file" id="photoEdit" name="photoEdit" accept="image/*">
                    <input type="hidden" id="originalVehicleName" value="">
                    <p id="error-message-edit" style="color: rgb(255, 72, 72) !important;"></p>
                    <button type="submit">Submit</button>
                    <input type="hidden" id="vehicleClassId" name="vehicleClassId" value="">
                </form>
            </div>
        </div>
    </div>

    <!-- Success Popup -->
    <div id="successPopup" class="miniPopupContainer" style="display: none;">
      <div class="popupContent">
        <span id="closePopupSuccess" class="closePopup">&times;</span>
        <h3 style="color: azure;">Success</h3>
        <p id="successText" style="color: azure;"></p>
      </div>
    </div>

    <!-- Error Popup -->
    <div id="errorPopup" class="miniPopupContainer" style="display: none;">
      <div class="popupContent">
        <span id="closePopupError" class="closePopup">&times;</span>
        <h3 style="color: azure;">There seems to be a problem</h3>
        <p id="errorText" style="color: azure;"></p>
      </div>
    </div>

    <script src="/js/addVehicleClassification.js"></script>
</body>
</html>
